.botonclear{
    
    height: 80px;
    display: flex;
    flex: 1 ;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.6em;
    background-color: #ac0246;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    user-select: none;
    margin-top: 8px;
    border-radius: 45px;
    }
.botonclear:hover{
    background-color: #b68904;
}